<app-navbar></app-navbar>
<div class="head-hero">
  <img src="../../../../../assets/LOGO-SOMOS MAS.png" alt="kids learning" />
</div>
<div class="welcome">
  <h2>Bienvenido/a <span>Administrador</span></h2>
  <img
    class="avatar"
    src="../../../../../assets/avatar.png"
    alt="avatar image"
  />
</div>
<div class="box-container">
  <div class="news-box">
    <h3>En este momento no hay Novedades para leer</h3>
  </div>
  <button class="admin-button" mat-raised-button [routerLink]="'/backoffice'">Panel de administrador</button>
</div>
<app-footer></app-footer>