<form class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Titulo" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select>
      <div *ngFor="let category of categories">
        <mat-option value="{{ category.name }}">{{ category.name }}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <input type="file" (change)="toBase64($event)">

  <ckeditor class="content-editor" [editor]="Editor"></ckeditor>

  <button (click)="testing()">Push test</button>
</form>
