@media only screen and (max-width: 700px){
  .news-container{
    width: 80%;
    padding: 30px;
    margin: 30px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;

  width: 60%;
  padding: 100px;
  padding-top: 50px;
}

.news-container{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: auto;
  border-radius: 20px;
  border-color: #151515;
  box-shadow: 5px 5px 10px black;
}

.form-button{
  width: 120px;
  height: 50px;
  background-color: #9AC9FB;
  color: #ffffff;
}

.file-input{
  margin: 20px 0px 20px 0px;
}

.input-label{
  color: #151515;
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0px 5px 0px;
}

.content-editor{
  margin: 0px 0px 20px 0px;
}

.special-input{
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
