<form class="form-container" [formGroup]="news">
  <mat-form-field appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Titulo" formControlName="name"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="category_id">
      <div *ngFor="let category of categories">
        <mat-option value="{{ category.id }}">{{ category.name }}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <input type="file" class="image" (change)="toBase64($event)">

  <ckeditor class="content-editor" formControlName="content" [editor]="Editor"></ckeditor>

  <button (click)="testing()">Push test</button>
</form>
