<div class="smart-bg">
  <div class="header">
    <img class="img-logo-ong" src="assets/toyLogo.png" />
    <h1 class="slogan-toys">Sé parte de esta celebración junto a "Somos Más" y ayudanos a regalar
      sonrisas a los mas pequeños</h1>
    <img class="img-logo-campaign" src="assets/LOGO-SOMOS%20MAS.png">
  </div>
  <div class="campaign-hero">
    <div class="timer-show">
      <div class="left">
        <h2>Contador para el gran Evento</h2>
      </div>
      <div class="timer-position">
        <div class="timer-container">
          <div class="days timer">
            <p>{{ leftTime.days }}</p>
            <p>Días</p>
          </div>
          <div class="hours timer">
            <p>{{ leftTime.hours }}</p>
            <p>Hrs</p>
          </div>
          <div class="minutes timer">
            <p>{{ leftTime.minutes }}</p>
            <p>Mins</p>
          </div>
        </div>
      </div>
    </div>
    <div class="img-container">
      <img class="campaign-image" src="../../../../../assets/toysHero.png" alt="Box full of toys" />
    </div>
    <div class="campaign-title-container">
      <div class="title-box">
        <h2 class="campaign-title">Juguetes por más sonrisas</h2>
      </div>
    </div>
    <div class="info-container">
      <div class="content">
        <div class="date-container">
          <p>7</p>
          <p>Ago</p>
        </div>
        <div class="place-time-container">
          <p class="place">Plaza San Martín, Tucumán</p>
          <p class="time">16:00</p>
        </div>
      </div>
    </div>

    <div class="child-show">
      <div class="child-container">
        <img class="child-image" src="../../../../../assets/child (1).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (2).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (3).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (4).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (5).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (6).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (7).png" alt="Charity Carrousel" />
        <img class="child-image" src="../../../../../assets/child (8).png" alt="Charity Carrousel" />
      </div>
    </div>
    <div class="description-container">
      <img src="../../../../../assets/toyLogo.png" alt="Logo campaña Juguetes" />
      <p class="description">
        Sé parte de esta celebración junto a "Somos Más" y ayudanos a regalar
        sonrisas a los mas pequeños
      </p>
    </div>
  </div>
</div>
<app-footer-juguetes></app-footer-juguetes>