<footer>
  <!-- //footer- pie de página -->
  <div class="container">
    <!-- Section: Links -->
    <section class="mt-2">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-3">
        <!-- Grid column -->
        <div class="col-md-2">
          <h4 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Noticias</a>
          </h4>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <h4 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Actividades</a>
          </h4>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <h4 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Novedades</a>
          </h4>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <h4 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Testimonios</a>
          </h4>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <h4 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Nosotros</a>
          </h4>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <h4 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white">Contacto</a>
          </h4>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>

  </div>
  <div id="row2">
    <img class="logo-footer" src="../../../../../../assets/LOGO-SOMOS%20MAS.png" alt="" />
  </div>
  <section class="text-center mb-2">
    <a href="" class="text-white me-4">
      <i class="fa fa-facebook-official fa-2x" id="facebook-logo" aria-hidden="true"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-twitter-square fa-2x" aria-hidden="true" id="twitter-logo"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-instagram fa-2x" aria-hidden="true" id="instagram-logo"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" id="linkedin-logo"></i>
    </a>
  </section>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" id="fondo-texto">© 2021 Alkemy</div>


</footer>