<footer>
  <!-- //footer- pie de página -->

  <div class="container">
    <div id="row2">
      <img class="logo-footer" src="assets/LOGO-SOMOS MAS.png" alt="" />
    </div>
  </div>
  <div class="container" id="links-container">
    <section class="mt-2">
      <div class="row text-center d-flex justify-content-center pt-3" id="routes">
        <div class="col-md-2" *ngFor="let item of routes">
          <a [routerLink]="item.path">{{item.titulo}}</a>
        </div>
      </div>
    </section>
  </div>
  <!-- Section: Links -->

  <div *ngFor="let data of dataList |keyvalue |slice:0:1">
    <section class=" text-center mb-2">

      <a href="{{data.value.facebook_url}}" class="text-white me-4">
        <i class="fa fa-facebook-official fa-2x" id="facebook-logo" aria-hidden="true"></i>
      </a>
      <a href="{{data.value.twitter_url}}" class="text-white me-4">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true" id="twitter-logo"></i>
      </a>
      <a href="{{data.value.instagram_url}}" class="text-white me-4">
        <i class="fa fa-instagram fa-2x" aria-hidden="true" id="instagram-logo"></i>
      </a>
      <a href="{{data.value.linkedin_url}}" class="text-white me-4">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" id="linkedin-logo"></i>
      </a>

    </section>
  </div>



  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" id="fondo-texto">© 2021 Alkemy</div>


</footer>