<main class="activity-page-container container-fluid" data-aos="fade-up">
    <h2 class="page-title text">Activity</h2>
    <p class="page-description text">
        Mediante nuestros programas educativos, buscamos incrementar la capacidad
        intelectual, moral y afectiva de las personas de acuerdo con la cultura y
        las normas de convivencia de la sociedad a la que pertenecen.
    </p>
    <div class="row p-4">
        <app-activity-card class=" col-12 col-md-6 col-lg-4 mt-3"
                           *ngFor="let item of activities | paginate: page_size:page_number"
                           name="{{ item.name }}"
                           image="{{ item.image }}"
                           description="{{ item.description }}"
                           id="{{item.id}}"
        >

        </app-activity-card>
    </div>
    <div class="card-paginator">
        <mat-paginator
                [length]="activities.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)"
        >
        </mat-paginator>
    </div>
</main>
