<app-header-sidebar></app-header-sidebar>
<section >
    <div   class="row d-flex flex-row justify-content-center alig-items-center m-t-4" >
        <div  class="  col-xl-4 m-5 border-bottom border-end  text-alig-center">
            <h1 class="text-center welcomBackoffice textBackoffice">Bienvenido</h1>
        </div>
    </div>
</section>

<section >
    
    <div   class="row d-flex flex-row justify-content-center alig-items-center">
        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-none  row d-flex flex-row bg-light justify-content-center alig-items-center">
            <p class=" rounded text-center  textBackoffice"> <b> Novedades </b> </p>
            <div class="iconBackoffice">
                <i class="bi bi-newspaper rounded-circle mb-1 wisthIcons"> <p class=""></p></i>
            </div>
            <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('news')" > Ir</button>   
            </p>
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center  textBackoffice" > <b> Actividades </b></p>
            <div class="iconBackoffice">
                <i class="bi bi-journal-check rounded-circle mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('activities')" > Ir</button>   
            </p>   
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center textBackoffice"> <b> Categorias </b></p>
            <div class="iconBackoffice"> 
                <i class="bi bi-list-task rounded-circle mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('categories')" > Ir</button>   
            </p>  
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center textBackoffice" > <b>Testimonios</b> </p>
            <div class="iconBackoffice">               
                <i class="bi bi-people rounded-circle mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1"  (click)="linkButtom('testimonials')"> Ir</button>   
            </p> 
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center textBackoffice" ><b> Organizacion </b></p>
            <div class="iconBackoffice">
                <i class="bi bi-diagram-3 rounded-circle mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('organization')"> Ir</button>   
            </p>   
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center textBackoffice" > <b> Sliders </b></p>
            <div class="iconBackoffice">
                <i class="bi bi-file-earmark-slides rounded-circle mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('sliders')"  > Ir</button>   
            </p>  
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center textBackoffice"> <b> Usuarios </b> </p>
            <div class="iconBackoffice">
                <i class="bi bi-person-rolodex rounded-circle mb-1 wisthIcons"></i>
            </div>
            <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('users')"> Ir</button>   
            </p>
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-light row d-flex flex-row justify-content-center alig-items-center">
            <p class=" rounded text-center textBackoffice"><b> Miembros</b> </p>
            <div class="iconBackoffice">
                <i class="bi bi-person-lines-fill rounded-circle mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn colorButtomDetails m-1" (click)="linkButtom('members')" > Ir</button>   
            </p> 
        </div>
    </div>
</section>

