<div class="containter-fluid">
  <h1 class="text-center titulo">{{ creacion }}</h1>
  <div class="d-grid gap-1 col-12 mx-auto w-50">
    <button
      class="btn editar text-light"
      type="button"
      routerLink="/backoffice/users/create"
    >
      Crear un nuevo Usuario
    </button>
  </div>
</div>
<div class="containter-fluid">
  <table class="table" *ngIf="usuario$ | async">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-end">Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuario$ | async">
        <td class="align-middle">{{ user.name }}</td>
        <td class="align-middle">{{ user.email}}</td>
        <td class="align-middle">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              class="btn editar me-md-2 text-light"
              (click)="onEdit(user)"
            >
              Editar
            </button>
            <button class="btn eliminar text-light" (click)="onDelete(user.id)">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
