.formLogin {
  min-height: calc(100vh - 10px);
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.cardLogin {
  background-color: #9AC9FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-top: 16px;
  padding: 32px;
  width: 30%;
}
.butRegister{
  background-color: #DB5752;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  align-content: flex-start;
}
.divButtRegister{
  display: flex;
  width: 100%;
}
.mat-form-field{
  width: 80%;
}
.form-register{
  width: 70%;

}
.title-register {
  display: flex;
  width: 100%;
  margin: 32px 0;
}