* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.4s all ease-in-out;
}

.title {
  color: #151515;
  font-weight: bolder;
  font-size: 36px;
}

#texto-bienvenida,
#texto-novedades {
  text-align: center;
  margin-bottom: 10px;
}

header,
section,
footer,
aside,
nav {
  display: block;
}

.principal {
  width: 100%;
}

//cards testimonials

h1 {
  text-align: center;
  margin-top: 5%;
  font-family: Roboto;
  font-size: 24px;
  font-weight: strong;
}

//aside

aside {
  display: flex;
  flex-direction: column;
}

#logo {
  list-style: none;
  margin-left: 5%;
}

ul {
  list-style-type: none;
  color: white;
}

#menu-barra {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

li {
  margin-top: 10px;
}

#logo-footer {
  width: 70%;
}

#mt-5 {
  display: flex;
  flex-direction: column;
}

#columna {
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1%;
  padding-bottom: 2800px;
  background-color: #9ac9fb;
}

#columna-container {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//dont show aside

@media screen and (max-width: 1560px) and (min-width: 992px) {
  #columna {
    display: none;
  }

  #columna-container {
    display: none;
  }
}

//show aside

@media screen and (max-width: 991px) {
  .principal {
    width: 70%;
    float: left;
  }
}

// aside menu adjust to 420 px

@media screen and (max-width: 420px) {
  li {
    font-size: 18px;
    text-align: center;
  }
}
