<div class="menu">
  <img src="assets/LOGO-SOMOS MAS.png" alt="" style="width: 8%;">
  <ul>
   <!--  <li *ngFor="let item of rutas">
      <a [routerLink]="item.path">{{item.titulo}}</a>
    </li> -->
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Nosotros</a></li>
    <li><a href="#">Actividades</a></li>
    <li><a href="#">Novedades</a></li>
    <li><a href="#">Testimonios</a></li>
    <li><a href="">Contacto</a></li>
    <li><a href="">Contribuye</a></li>
    <li><button class="css-button-arrow--sky">Log in</button></li>
    <li><button class="css-button-sliding-to-top--red">Registrate</button></li>
  </ul>
</div>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">