<div class="msb" id="msb">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <div class="brand-wrapper">
        <div class="brand-name-wrapper">
          <a class="navbar-brand ps-5" href="#"> NAVEGAR </a>
        </div>
      </div>
    </div>

    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="backoffice"
            ><i class="fa fa-dashboard mb-2"></i> Dashboard</a
          >
        </li>
        <li class="active">
          <a routerLink="backoffice/slides"
            ><i class="fa fa-picture-o mb-2"></i> Slides</a
          >
        </li>
        <li>
          <a routerLink="backoffice/news"
            ><i class="fa fa-newspaper-o mb-2"></i> Noticias</a
          >
        </li>
        <li>
          <a routerLink="backoffice/users"
            ><i class="fa fa-user mb-2"></i> Usuarios</a
          >
        </li>
        <li>
          <a routerLink="backoffice/activities"
            ><i class="fa fa-book mb-2"></i> Actividades</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
