<html>
  <head> </head>
  <body>
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li class="has-subnav mb-2">
          <a routerLink="">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text"> Backoffice </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a routerLink="/users">
            <i class="fa fa-users fa-2x"></i>
            <span class="nav-text"> Usuarios </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a routerLink="/news">
            <i class="fa bi bi-newspaper fa-2x"></i>
            <span class="nav-text"> Noticias </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a routerLink="/organization">
            <i class="fa bi bi-building fa-2x"></i>
            <span class="nav-text"> Organización </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-list fa-2x"></i>
            <span class="nav-text"> Formularios </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-folder-open fa-2x"></i>
            <span class="nav-text"> Paginas </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-bar-chart-o fa-2x"></i>
            <span class="nav-text"> Estadistiscas </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-font fa-2x"></i>
            <span class="nav-text"> ABC </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-table fa-2x"></i>
            <span class="nav-text"> Tablas </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-map-marker fa-2x"></i>
            <span class="nav-text"> Mapas </span>
          </a>
        </li>
        <li class="has-subnav mb-2">
          <a href="#">
            <i class="fa fa-info fa-2x"></i>
            <span class="nav-text"> Documentos </span>
          </a>
        </li>
      </ul>
      <ul class="logout has-subnav mb-2">
        <li>
          <a href="#">
            <i class="fa fa-power-off fa-2x"></i>
            <span class="nav-text"> Salir </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
