.activity-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-detail{
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #9ac9fb;
  align-items: center;
  font-weight: Bolder;
}
.description-detail{
  font-weight: Bold;
}
.page-description {
  width: 80%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.page-title {
  font-weight: bolder;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
}
.btn-detail{
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius:20px;

}
.text {
  color: #151515;
}
.card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0+px;

}
@media only screen and (max-width: 600px) {
  .card-paginator {
    width: 50%;
  }
}
.detail-card{
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #9ac9fb;

}
.section-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-detail{
  width: 100%;
  height: auto;
}