<div class="divider-container">
  <hr class="divider">
</div>

<div class="form-control-container">
  <input type="text" class="form-control" placeholder="Buscar actividad" #txtQuery
  (keyup)="shearsActie(txtQuery.value)" />
</div>
<div *ngIf="activities.length === 0; else elseBlock">
  <app-skeleton [skeletonStyle]="'table'" [repetition]="3"></app-skeleton>
</div>
<main class="activity-page-container container-fluid" data-aos="fade-up">
  <h2 class="page-title text">Actividades</h2>
  <p class="page-description text">
    Mediante nuestros programas educativos, buscamos incrementar la capacidad
    intelectual, moral y afectiva de las personas de acuerdo con la cultura y
    las normas de convivencia de la sociedad a la que pertenecen.
  </p>
  <div class="row p-4">
    <div *ngIf="activities.length === 0; else elseBlock">
      <div>
        <app-skeleton [skeletonStyle]="'card'" [repetition]="3"></app-skeleton>
      </div>
    </div>
    <ng-template #elseBlock>
      <app-activity-card class="col-12 col-md-6 col-lg-4 mt-3"
        *ngFor="let item of activities | paginate: page_size:page_number" name="{{ item.name }}"
        image="{{ item.image }}" description="{{ item.description }}" id="{{ item.id }}">
      </app-activity-card>
    </ng-template>
  </div>
  <div class="card-paginator">
    <mat-paginator [length]="activities.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
      (page)="handlePage($event)">
    </mat-paginator>
  </div>
</main>