<nav class="navbar-custom navbar-expand-lg navbar-light bg-blue">
  <div id="user-mess" *ngIf="!isLogged">
    <h5>Bienvenido Usuario/a</h5>
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <li class="nav-item active" id="logo">
        <img class="logo" src="assets/LOGO-SOMOS MAS.png" alt="" />
      </li>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngFor="let item of routes">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" [routerLink]="item.path" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">{{item.titulo}}</a>
        </li>
        <li>

        </li>
      </ul>
      <div class="dropdown" id="campaign">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
          aria-expanded="false">
          Campañas
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let item of campaignRoutes">
            <a class="dropdown-item" [routerLink]="item.path">{{item.titulo}}</a>
          </div>
        </div>
      </div>
      <div class="btn-group" *ngFor="let item of buttonroutes">
        <a [routerLink]="item.path"><button class="btn btn-primary">{{item.titulo}}</button></a>
      </div>
    </div>

  </div>
</nav>