.map {
  height: 50%;
  width: 90%;
  margin: auto;
  
}
.background{
  background-image: url("../../../../../assets/escolar/Logotipo-campaña-materiales-escolares.png");
  background-repeat: no-repeat;
  background-position: right top
}