h1{
    text-align: center;
}

.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: 45%;
    margin: 10px;
    border-radius: 10px;
}