.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activity-card {
  background-color: #9ac9fb;
}

.card-image {
  height: 14rem;
  margin-bottom: 0px;
  border-radius: 20px;
  object-fit: cover;
}

.card-name {
  font-size: 21px;
  font-weight: bold;
  color: #db5752;
  text-align: center;
}

.card-description {
  text-align: center;
  color: #151515;
  margin-top: 0px;

  overflow: auto;
}

#urlButtons {
  display: flex;
  flex-direction: column;
}

#button2 {
  margin-top: 5px;
}
