<app-navbar></app-navbar>
<div class="container-fluid mr-0 pe-0">
    <div class="formGroup row formLogin">
        <div class="div-card col-6">
            <h5>Bienvenido!</h5>
            <h1 class="title-login title">
                Inicia Sesion en tu cuenta!
            </h1>
            <div class="login">
                <form [formGroup]="createdForm" class="form-login">
                    <div class="input-login">
                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email"/>
                        </mat-form-field>
                    </div>
                    <div class="input-login">
                        <mat-form-field appearance="fill" class="col-6">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" min="6" formControlName="password"/>
                        </mat-form-field>
                    </div>
                </form>
                <div class="divButLogin">
                    <button mat-raised-button class="butLogin" color="primary" type="submit" (click)="submit()">Login</button>
                </div>
            </div>
            <div class="div-text-register">
                <h1 class="text-register">No tienes cuenta? <a class="a-link-register" routerLink="/register"> Registrate</a>
                </h1>
                <app-auth-google></app-auth-google>
            </div>
        </div>
        <div class="col-5 pe-0">
            <img src="./assets/img-login.jpg" class="img-login">
        </div>
    </div>
</div>