
<div class="vh-100 row m-0 align-items-center justify-content-center position-container">
    <div class="col-9 slides-container">
        <div class="section-wrapper">
            <form  #createACtivities="ngForm" (ngSubmit)="creteUpdate()" class="form-container" >
           
                <mat-card-title class="title-color marginInput">{{title}}</mat-card-title>
                <mat-form-field appearance="fill" class="widthName marginInput">
                    <mat-label>Nombre</mat-label>
                    <input class="inputs"  type="text" matInput placeholder="Nombre" name="names" #namer="ngModel"  [(ngModel)]="name" required>
                    <mat-error>4 Caracteres Mínimo</mat-error>
                  </mat-form-field>
                <mat-card-actions class="marginInput">
                    <label class="input-label">Descripción de la actividad</label>
                    <br>
                    <ckeditor [editor]="Editor"  name="description" #descriptions="ngModel"  [(ngModel)]="description" ></ckeditor>
                </mat-card-actions>
                <mat-card-actions class="marginInput">    
                    <img *ngIf="image" src={{image}} class="widthImg shadow-lg p-3 mb-2 bg-white rounded " alt="" required>
                </mat-card-actions>
                <mat-card-actions class="marginInput">    
                    <label class="input-label">Agregar una imagen</label>
                    <br>
                    <input type="file" name="image" (change)="fileChangeEvent($event)">
                </mat-card-actions>
                <mat-card-actions class="marginInput">            
                    <button mat-flat-button class="colorButtomSuccess" type="submit" [disabled]="!createACtivities.valid">Enviar</button>
                 </mat-card-actions>
        </form>
        <mat-card-actions>            
            <p *ngIf="text">Successfull</p>
        </mat-card-actions>
     </div>
    </div>
 
</div>