.pdf-viewer {
  height: 100vh;
  width: 100vw;
  display: block;
  margin: 0 auto;
}

#btn-accept {
  background-color: #db5752;
  color: white;
}

#btn-cancel {
  background-color: #9ac9fb;
  color: white;
}
