<p>
  members works!
</p>

<div class="content" role="main">

  <div class="row">
    <div class="col-12">
      <h4>Miembros de la organización</h4><br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover table-bordered table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="text-align: center;">Nombre</th>
            <th scope="col" style="text-align: center;">Imagen</th>
            <th scope="col" style="text-align: center;">Descripción</th>
            <th scope="col" style="text-align: center;">Facebook</th>
            <th scope="col" style="text-align: center;">Linkedin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of membersData;">
            <td style="text-align: center;">{{item.name}}</td>
            <td style="text-align: center;"><img src="{{item.image}}" alt="" style="width: 50%;"></td>
            <td style="text-align: center;">{{item.description}}</td>
            <td style="text-align: center;"><a href="{{item.facebookUrl}}">Perfil facebook</a></td>
            <td style="text-align: center;"><a href="{{item.linkedinUrl}}">Perfil linkedin</a></td>

          </tr>
          <!--   <button class="btn btn-primary" (click)="TemblorDetail(temblores.mapaId)"></button>
          <i class="fas fa-eye"></i> -->
        </tbody>
      </table>
    </div>
  </div>

</div>