<div class="position-container">
<div class="news-container">
  <main class="section-wrapper">
    <form class="form-container" [formGroup]="news" autocomplete="off">
      <h1 class="title">{{title}}</h1>
      <mat-form-field appearance="fill">
        <mat-label>Titulo</mat-label>
        <input
          class="inputs"
          matInput
          formControlName="name"
        />
        <mat-error>4 Caracteres Mínimo</mat-error>
      </mat-form-field>
<!-- 
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select class="inputs" formControlName="category_id">
          <div *ngFor="let category of categories">
            <mat-option value="{{ category.id }}">{{
              category.name
            }}</mat-option>
          </div>
        </mat-select>
        <mat-error>Todos los campos son obligatorios</mat-error>
      </mat-form-field> -->

      <div class="special-input">
        <label class="input-label">Agrega una imagen a la novedad</label>
        <input
          class="inputs"
          type="file"
          class="image"
          formControlName="image"
          accept=".png, .jpg, .jpeg"
          (change)="toBase64($event)"
        />
      </div>

<!--       <div class="special-input">
        <label class="input-label">Descripción de la novedad</label>
        <ckeditor
          class="content-editor file-input"
          formControlName="content"
          [editor]="Editor"
        ></ckeditor>
      </div> -->

      <button
        mat-raised-button
        class="formButton inputs"
        (click)="newsCommit()"
        [disabled]="!news.valid"
      >
        Enviar
      </button>
    </form>
  </main>
</div>
</div>