<app-navbar></app-navbar>
<div class="principal">
  <section>
    <app-slide-inicio></app-slide-inicio>
    <!-- slides-->

  </section>
  <section id="welcome-text-container">
    <br>
    <!-- welcome text -->
    <div *ngFor="let data of listaDatos |keyvalue |slice:0:1">
      <h1 class="title" id="welcome-text">{{data.value.welcome_text}}</h1>
    </div>
  </section>

  <!-- news -->
  <section class="light" id="news">
    <div class="container py-3">
      <div class="title" id="news-text">Novedades</div>

      <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="http://ongapi.alkemy.org/storage/YBCbsci6Qz.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a href="#">Comenzaron nuestras campañas!</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Lun, 27 de junio 2022
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Hay dos campañas activas, escolar y de juguetes. Para saber como colaborar y hasta cuando hay tiempo, visitá
            nuestra sección de campañas
          </div>
          <ul class="postcard__tagbox">
            <button class="btn btn-warning">Ver más</button>
          </ul>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="http://ongapi.alkemy.org/storage/BuZwMg8jzV.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="#">Más de 5.000 juguetes donados!</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Sáb, 25 de junio 2022
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            Somos Más ha logrado conseguir más de 5.000 SONRISAS con los juguetes que se donaron a los niños.
          </div>
          <ul class="postcard__tagbox">
            <button class="btn btn-warning">Ver más</button>
          </ul>
        </div>
      </article>
      <article class="postcard light green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="http://ongapi.alkemy.org/storage/bH1GtMPy1g.jpeg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title green"><a href="#">Tercer encuentro futbolero ⚽</a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Jue, 23 de junio 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            La próxima semana se dará el tercer encuentro de partidos de futbol entre las escuelas secundarias
          </div>
          <ul class="postcard__tagbox">
            <button class="btn btn-warning">Ver más</button>
          </ul>
        </div>
      </article>
    </div>
  </section>
</div>
<app-footer></app-footer>