<app-navbar></app-navbar>
<div class="principal">
  <section>
    <!-- slides-->
    <h1 class="title" id="texto-bienvenida-slides">Slides</h1>
  </section>
  <section>
    <!-- welcome text -->
    <h1 class="title" id="texto-bienvenida">Texto de bienvenida</h1>
    <hr />
  </section>
  <section>
  <!-- news -->
    <h1 class="title" id="texto-bienvenida-novedades">Últimas novedades</h1>
  </section>
  <div class="container">
    <section>
      <!-- Testimonials -->
      <h1 class="title">Testimonios</h1>
    </section>
  </div>
</div>
<div id="columna-container">
  <!-- aside with media query on 992px -->
  <aside id="columna">
    <div id="menu-barra">
      <!-- Section: Links -->
      <ul>
        <li> <img id="logo-footer" src="../../../../../assets/LOGO-SOMOS%20MAS.png" alt="" /></li>
        <li>Noticias</li>
        <li>Actividades</li>
        <li>Novedades</li>
        <li>Testimonios</li>
        <li>Nosotros</li>
        <li>Contacto</li>
        <button class="btn btn-primary">Log in</button>
        <li><button class="btn btn-primary active">Registrate</button></li>
      </ul>
    </div>
  </aside>
</div>
<app-footer></app-footer>