<app-navbar></app-navbar>
<div class="principal">
  <section>
    <!-- slides-->
    <app-slide-inicio></app-slide-inicio>
  </section>
  <section>
    <!-- welcome text -->
    <h1 class="title" id="texto-bienvenida">Texto de bienvenida</h1>
    <hr />
  </section>
  <section>
    <!-- news -->
    <h1 class="title" id="texto-bienvenida-novedades">Últimas novedades</h1>
    <app-news-list></app-news-list>
  </section>
  <div class="container">
    <section>
      <!-- Testimonials -->
      <h1 class="title">Testimonios</h1>
    </section>
  </div>
</div>
<div id="columna-container">
  <!-- aside with media query on 992px -->
  <aside id="columna">
    <div id="menu-barra">
      <!-- Section: Links -->
      <ul>
        <li> <img id="logo-footer" src="../../../../../assets/LOGO-SOMOS%20MAS.png" alt="" /></li>
        <div *ngFor="let item of routes">
          <li><a class="nav-link" aria-current="page" [routerLink]="item.path" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">{{item.titulo}}</a></li>

        </div>
        <div class="btn-group" *ngFor="let item of buttonroutes">
          <a [routerLink]="item.path"><button class="btn btn-primary">{{item.titulo}}</button></a>
        </div>

      </ul>
    </div>
  </aside>
</div>
<app-footer></app-footer>