<div class="smart-bg">
  <div class="header">
    <img class="img-logo-ong"  src="assets/escolar/Logotipo-campaña-materiales-escolares.png"/>
    <h1 class="slogan-school"> Ven y apoyanos con utiles escolares como lapiz, pinturas, cuadernos,
      juegos geometricos, etc., <h2>para que mas niños puedan estudiar por que
        juntos "Somos Más". </h2></h1>
    <img  class="img-logo-campaign" src="assets/LOGO-SOMOS%20MAS.png ">
  </div>
  <div class="campaign-hero">
    <div class="timer-show">
      <div class="left">
        <h2>El evento inicia en:</h2>
      </div>
      <div class="timer-position">
        <div class="timer-container">
          <div class="days timer">
            <p>{{ days }}</p>
            <p>Días</p>
          </div>
          <div class="hours timer">
            <p>{{ hours }}</p>
            <p>Hrs</p>
          </div>
          <div class="minutes timer">
            <p>{{ minutes }}</p>
            <p>Mins</p>
          </div>
        </div>
      </div>
    </div>
    <div class="img-container">
      <img
        class="campaign-image"
        src="../../../../../assets/escolar/a3.jpg"
        alt="Box full of toys"
      />
    </div>
    <div class="campaign-title-container">
      <div class="title-box">
        <h2 class="campaign-title">Ayudanos a seguir aprendiendo</h2>
      </div>
    </div>
    <div class="info-container">
      <div class="content">
        <div class="date-container">
          <p>20</p>
          <p>Jul</p>
        </div>
        <div class="place-time-container">
          <p class="place">Universidad Autonoma de Buenos Aires</p>
          <p class="time">13:00 hrs</p>
        </div>
      </div>
    </div>

    <div class="child-show">
      <div class="child-container">
        <img class="ziseimage" src="../../../../../assets/escolar/a1.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a2.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a4.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a5.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a6.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a7.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a8.jpg" />
        <img class="ziseimage" src="../../../../../assets/escolar/a9.jpg" />
      </div>
    </div>
    <div class="description-container">
      <img
        class="logoScolar"
        src="../../../../../assets/escolar/Logotipo-campaña-materiales-escolares.png"
      />
      <p class="description">
        Ven y apoyanos con utiles escolares como lapiz, pinturas, cuadernos,
        juegos geometricos, etc., para que mas niños puedan estudiar por que
        juntos "Somos Más".
      </p>
    </div>
  </div>
</div>
