<main class="main-container">
  <div class="hero-section">
    <h2 class="text-display title">¡Contribuye!</h2>
    <p class="text-display paragraph">
      Con tu ayuda podemos crear un futuro mejor.
    </p>
    <div class="donation-container">
        <mat-label>Selecciona una cantidad</mat-label>
      <mat-slider
        (valueChange)="setDonation($event!)"
        value="{{ donation }}"
        thumbLabel
        step="100"
        min="100"
        max="500"
        aria-label="units"
      >
      </mat-slider>
      <p class="text-display">
        Tu donación será: <span class="stress">{{ donation | currency: "ARS":"symbol" }}</span>
      </p>
      <div class="action-buttons">
        <button (click)="makeDonation()" class="donation-button action-button" mat-raised-button>Donar</button>
        <button class="share-button action-button" mat-raised-button>Compartir</button>
      </div>
    </div>
  </div>
</main>
