<div class="position-container">
  <div class="users-container">
    <main class="section-wrapper">
  <form class="form-container" [formGroup]="formRecicler">
    <h1>Modificar Usuario</h1>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input class="inputs" matInput formControlName="name" />
      <mat-error>Campo Requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input class="inputs" type="password" matInput formControlName="password" />
    <mat-error>Campo Requerido</mat-error>
   </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input class="inputs" type="email" matInput formControlName="email" />
    <mat-error>Campo Requerido</mat-error>
   </mat-form-field>
  <div class="special-input">
    <label class="input-label">Agrega una imagen al Usuario</label>
    <input
      class="inputs"
      type="file"
      class="image"
      formControlName="image"
      accept=".png, .jpg, .jpeg"
      (change)="changeImageBase64($event)"
    />
  </div>
  <div>
    <img  [src]="archivoImage" class="img-thumbnail w-25" *ngIf="Image?.touched && Image?.valid" />
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="rol_id">
      <mat-option value="1">Usuario</mat-option>
      <mat-option value="2">Administrador</mat-option>
    </mat-select>
    <mat-error>Campo Requerido</mat-error>
  </mat-form-field>
  <div class="special-input">
    <label class="input-label">Descripción del Usuario</label>
    <ckeditor
      class="content-editor file-input"
      formControlName="description"
      [editor]="Editor"
    ></ckeditor>
  </div>
        <button
          mat-raised-button
          class="form-button inputs"
          (click)="submit()"
        >
          Enviar
        </button>
  </form>
</main>
</div>
</div>
