<div class="container mx-auto border border-dark w-25 h-75">
  <form [formGroup]="formRecicler" (ngSubmit)="submit()">
    <div class="row g-2">
      <div class="form-floating mb-3 mt-4">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          formControlName="name"
        />
        <p *ngIf="Name?.touched && Name?.errors" class="text-danger">
          Requiere un Nombre
        </p>
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating mb-3 mt-4">
        <input
          type="password"
          class="form-control"
          id="floatingInput"
          formControlName="password"
        />
        <p *ngIf="Password?.touched && Password?.errors" class="text-danger">
          Campo Requerido
        </p>
        <label for="floatingInput">Contraseña</label>
      </div>
      <div class="form-floating mt-4">
        <input
          type="email"
          class="form-control"
          id="floatingPassword"
          formControlName="email"
        />
        <div *ngIf="Email?.errors && Email?.touched">
          <p *ngIf="Email?.hasError('email')" class="text-danger">
            El mail no es correcto
          </p>
          <p *ngIf="Email?.hasError('required')" class="text-danger">
            El campo es requerido
          </p>
        </div>
        <label for="floatingPassword">Email</label>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label"></label>
        <input
          (change)="changeImageBase64($event)"
          accept="image/png , image/jpeg"
          class="form-control"
          type="file"
          id="formFile"
          formControlName="image"
        />
        <p *ngIf="Image?.touched && Image?.errors" class="text-danger">
          Campo Requerido
        </p>
      </div>
      <div>
        <img [src]="archivoImage" class="img-thumbnail w-100" />
      </div>
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          formControlName="rol_id"
        >
          <option selected>Seleccionar</option>
          <option value="1">Usuario</option>
          <option value="2">Administrador</option>
        </select>
        <label for="floatingSelect">Rol</label>
      </div>
      <p *ngIf="Rol?.touched && Rol?.errors" class="text-danger">
        Campo Requerido
      </p>
      <div class="form-floating">
        <textarea
          class="form-control"
          id="floatingTextarea2"
          style="height: 100px"
          formControlName="description"
        ></textarea>
        <label for="floatingTextarea2">Descripcion</label>
        <p
          *ngIf="Description?.touched && Description?.errors"
          class="text-danger"
        >
          Campo Requerido
        </p>
      </div>
      <button class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
