<footer>
  <!-- //footer- pie de página -->
  <div id="principal">
    <div class="container" id="logo-titulo">
      <div id="row2">
        <img class="logo-footer" src="assets/LOGO-SOMOS MAS.png" alt="" />
      </div>
      <div class="row">
        <ul>
          <li> <a href="/home">
              <h4 id="nombre-ong">ONG - Somos Más</h4>
            </a>
          </li>
          <li>
            <a href="/schoolCampaign">
              <h4 id="nombre-otras">Otras campañas</h4>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Section: Links -->
    <div>
      <section class="text-center mb-2">
        <div class="titulo-logo">
          <div>
            <a href="#" class="text-white me-4">
              <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="text-socialmedia">
            <h5>linkedin/loremipsum</h5>
          </div>
        </div>
        <div class="titulo-logo">
          <div>
            <a href="#" class="text-white me-4">
              <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="text-socialmedia">
            <h5>instagram/loremipsum</h5>
          </div>
        </div>
        <div class="titulo-logo">
          <div>
            <a href="#" class="text-white me-4">
              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="text-socialmedia">
            <h5>twitter/loremipsum</h5>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" id="fondo-texto">© 2021 Alkemy</div>


</footer>