/* You can add global styles to this file, and also import other style files */

html, body { margin: 0px; padding: 0px; height: 100%; }
body { font-family: Roboto, sans-serif; }


.title{
    color: #151515;
    font-weight: bolder;
    font-size: 36px;
}
