
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$base-ong-angular-client-primary: mat.define-palette(mat.$indigo-palette);
$base-ong-angular-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$base-ong-angular-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$base-ong-angular-client-theme: mat.define-light-theme((
  color: (
    primary: $base-ong-angular-client-primary,
    accent: $base-ong-angular-client-accent,
    warn: $base-ong-angular-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($base-ong-angular-client-theme);

/* You can add global styles to this file, and also import other style files */

:root{
  --success-Buttom:#9AC9FB;
  --info-Buttom:#FAFA88;
}


html, body { margin: 0px; padding: 0px; height: 100%; width: 100%; }

* { font-family: 'Roboto', sans-serif; }

.title{
    color: #151515;
    font-weight: bolder;
    font-size: 36px;
}
.widthButtom{
    width: 100%;
}
.widthImgImgSlideHome{
    width: 200px !important;
}

.mat-slider-thumb {
	background-color: #3894f7 !important;
}

.mat-slider-thumb-label {
	background-color: #3894f7 !important;
}

.mat-slider-track-fill {
	background-color: #3894f7 !important;
}

.colorButtomSuccess{
  color:var(--success-Buttom);
  background-color: var(--info-Buttom);
}
.title-color{
  color: var(--success-Buttom);
}
.widthImg{
  width: 350px;
}

.colorButtomSuccess{
  color:#ffffffff;
  background-color: var(--success-Buttom);
}

.colorButtomDetails{
  color:#151515 !important;
  background-color: var(--info-Buttom) !important;
  font-weight: bold !important;
}

.textBackoffice{
  color:  var(--success-Buttom);
}

.widthImg{
  width: 400px;
}

.iconBackoffice{
  width: 70px !important;
}

.welcomBackoffice{
  font-size: 3rem;
}

.wisthIcons{
  font-size: 3rem;
}

.colorButtomSuccess{
  color:#ffffffff;
  background-color: #9AC9FB !important;
}

.mat-progress-bar-fill::after {
  background-color: #FAFA88 !important;
}

.headerNavColor{
  background-color: var(--success-Buttom) !important;
}
.sidevar{
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.logo{
width: 80px;
}
.menuLogo{
  margin-left: 5%;
}
.toghgleheader{
  margin-right: 1%;
}

@media (max-width: 575px) {
  .grindNavar{
    width: 20% !important;
  }
}